a {
    text-decoration: none;
    padding: 1em 2em;
    background-color: rgb(179 57 81);
    color: white;
    display: inline-block;
}

a:hover {
    background-color: rgb(66 22 40);
}

.recipe-list {
    list-style: none;
    margin: 1em;
}

h1 {
    color: white;
    background-color: black;
    padding: 1em 2em;
    text-align: center;
}